@charset "utf-8";

body {
    background-color: #9cd4d8;
    line-height: 100%;
    font-size: 1.2em;
    font-family: "Helvetica Neue",Verdana,sans-serif;
}

#wrapper {
    max-width: 500px;
    margin: 0 auto;
}

#box {
    background-color: #ffffff;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0.5em;
}

#info {
    float:left;
    width: 70%;
    padding-left: 20px;
}

#value {
	text-align: right;
	margin-left: 70%;
    width: 27%;
    padding-right: 20px;
}

h1 {
    font-weight: normal;
}