@charset "utf-8";

body {
    background-color: #9cd4d8;
    line-height: 100%;
    font-size: 1.2em;
    font-family: "Helvetica Neue",Verdana,sans-serif;
    margin: 0;
}

#warning {
    background-color: #176E16;
    color: white;
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    text-align: center;
    padding: 0 0.5em 0.5em 0.5em;
}

#warning #warning-content {
    font-size: 0.9em;
    line-height: 140%;
}

#warning #warning-icon {
    display: inline-block;
    font-size: 2em;
    line-height: 40px;
    position: relative;
    top: 0.1em;
}

#wrapper {
    max-width: 500px;
    margin: 0 auto 60px auto;
    padding: 0.5em;
}

.box {
    background-color: #ffffff;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0.5em;
    border-radius: 3px;
}

.info {
    float:left;
    padding-left: 0.5em;
    vertical-align: middle;
    line-height: 40px;
}

.box div img {
    width: 40px;
    height: 40px;
    float:left;
}

.value {
	float:right;
    padding-right: 0.5em;
    line-height: 40px;
}

h1 {
    font-weight: normal;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: #74bcbf;
    border-top: solid 1px black;
    height: 60px;
    width: 100%;
}

nav a:link,
nav a:visited
{
    color: white;
    text-shadow: 1px 1px 2px #325d5f;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}

nav a.nav-status
{
    border-right: solid 1px black;
}

#status .nav-status,
#temperature .nav-temperature
{
    /* Active link */
    font-weight: bold;
    background-color: #57a3a5;
}


#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 40px;
    background: #FFFFFF;
    color: #000000;
    line-height: 150px;
    text-align: center;

}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

input[type=submit]{
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border: None;
    font-size: 20px;
    border-radius: 3px;
}

select[type=number]{
    width: 60px;
    height: 40px;
    text-align: center;
    align: center;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -2px;
    text-overflow: '';

}