{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'userpage/style.css' %}" />
    {% block head %}{% endblock %}
</head>

<body id="{% block id %}generic{% endblock %}">
    <div id="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <nav>
        <a href="{% url "status" %}" class="nav-status">Car status</a>{% comment %}
{% endcomment %}<a href="{% url "temperature" %}" class="nav-temperature">Car A/C</a>
    </nav>
</body>
</html>