{% extends "userpage/base.html" %}
{% load staticfiles %}
{% load range %}

{% block title %}Set temperature{% endblock %}


{% block id %}temperature{% endblock %}

{% block content %}




        <div class="box">
            <div><img src="{% static "userpage/icons/Temperature-96.png" %}"></div>
            <div class="info">
                Current temperature:
            </div>
            <div class="value" id="AC_temp">
                {{ AC_temperature }}
            </div>
        </div>

        <div class="box">
            <div><img src="{% static "userpage/icons/Fan-96.png" %}"></div>
            <div class="info">
                AC status:
            </div>
            <div class="value" id="AC_stat">
                {{ AC_enabled }}
            </div>
        </div>



    <form action="/userpage/temperature/" method="post">
        {% csrf_token %}

        <div id="temperature-box">
            <div class="center" >Choose target temperature</div>
            <div id="touchup">
                <div id="up-button" style="background-image: url({% static 'userpage/icons/up-arrow.svg' %});" onclick="upClick()">
                </div>
            </div>
            <div class="center" id="circle"> </div>
            <div id="touchdown">
                <div id="down-button" style="background-image: url({% static 'userpage/icons/down-arrow.svg' %})" onclick="downClick()">
                </div>
            </div>



            <div class="center" style="padding-top: 30px; padding-bottom: 30px;">

                <input type="checkbox" class="inliner" name="time" onclick="CheckboxClick(this)" checked>

                <div id="now-wrapper" class="inliner wrapper verticaler">
                    Ready now
                </div>

                <div id="later-wrapper" class="inliner wrapper verticaler">
                    Ready at

                    <select class="dropdown verticaler" type="number" name="hours" id="hours">
                        {% for hour in 24|get_range  %}

                            {% if hour < 10 %}
                                <option id="hour-{{ hour }}" value="0{{ hour }}"> 0{{ hour }} </option>
                            {% else %}
                                <option id="hour-{{ hour }}" value="{{ hour }}"> {{ hour }} </option>
                            {% endif %}

                        {%  endfor %}
                    </select>

                    <select class="dropdown verticaler" type="number" name="minutes" id="minutes">
                        {% for minutes in 60|get_range %}
                            {% if minutes < 10 %}
                                <option id="minute-{{ minutes }}" value="0{{ minutes }}"> 0{{ minutes }} </option>
                            {% else %}
                                <option id="minute-{{ minutes }}" value="{{ minutes }}"> {{ minutes }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input id="AC_enabled" type="hidden" name="AC_enabled" value="True">
            <input id="temp" type="hidden" name="temperature" value="">

            <div class="center">
                <input id="button" type="submit" value="Activate" onclick="setValues();">
            </div>
        </div>

    </form>


    <script>
        var temp = 20;
        var ac_enabled = "{{ AC_enabled }}";
        var up = document.getElementById("touchup");
        var down = document.getElementById("touchdown");
        var timer;
        var nowWrapper = document.getElementById("now-wrapper");
        var laterWrapper = document.getElementById("later-wrapper");
        var UPDATE_INTERVAL = 4000;
        var PeriodicTemperatureUpdater = setInterval(getData, UPDATE_INTERVAL);

        laterWrapper.style.display = 'none';

        up.addEventListener("touchstart", touchUpClick, false);
        down.addEventListener("touchstart", touchDownClick, false);
        document.getElementById("circle").innerHTML = temp.toString();


        function touchUpClick(event){
            event.preventDefault();
            upClick();
        }

        function touchDownClick(event){
            event.preventDefault();
            downClick();
        }

        function upClick(){
            if(temp < 30){
                temp = temp + 1;
                document.getElementById("circle").innerHTML = temp.toString();
            }
        }

        function downClick(){
            if(temp > 10){
                temp = temp - 1;
                document.getElementById("circle").innerHTML = temp.toString();
            }
        }

        function setValues(){
            document.getElementById("temp").value = temp.toString();
        }

        function deactivate(){
            document.getElementById("AC_enabled").value = "False";
        }

        function setTimeInput(){
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes() + 15;
            if(minutes > 60){
                hours = (hours + 1) % 24;
                minutes = minutes % 60;
            }
            document.getElementById("hour-" + hours).selected = true;
            document.getElementById("minute-" + minutes).selected = true;
        }

        function CheckboxClick(chkbox){
            var later = document.getElementById("later-wrapper");
            var now = document.getElementById("now-wrapper");

            if (chkbox.checked == false){
                setTimeInput();
                later.style.display = 'inline-block';
                now.style.display = 'none';
            } else{
                later.style.display = 'none';
                now.style.display = 'inline-block';
            }
        }

        function setup(){
            if(ac_enabled == "Off"){
                document.getElementById("button").value = "Activate";
                document.getElementById("button").onclick = setValues();
            } else if(ac_enabled == "On"){
                document.getElementById("button").value = "Deactivate";
                document.getElementById("button").onclick = deactivate();
            }
        }

        function getData(){
            var HTTPRequest = new XMLHttpRequest();
            var method = "GET";
            var url = "data/";

            HTTPRequest.onreadystatechange = function(){
                if(HTTPRequest.readyState == 4 && HTTPRequest.status == 200){
                    var data = JSON.parse(HTTPRequest.responseText);
                    temperatureUpdater(data);
                }
            };

            HTTPRequest.open(method, url, true);
            HTTPRequest.send();
        }

        function temperatureUpdater(data){
            document.getElementById("AC_temp").innerHTML = data["AC_temperature"].toString();
            document.getElementById("AC_stat").innerHTML = data["AC_enabled"].toString();
        }

    </script>

{% endblock %}