{% extends "userpage/base.html" %}
{% load staticfiles %}
{% load range %}

{% block title %}Set temperature{% endblock %}

{% block id %}temperature{% endblock %}

{% block content %}

    <script type="text/javascript" src="{% static 'userpage/temperature.js' %}"></script>


        <div class="box">
            <div><img src="{% static "userpage/icons/Temperature-96.png" %}"></div>
            <div class="info">
                Current temperature:
            </div>
            <div class="value">
                21 °C
            </div>
        </div>

        <div class="box">
            <div><img src="{% static "userpage/icons/Fan-96.png" %}"></div>
            <div class="info">
                AC status:
            </div>
            <div class="value">
                Off
            </div>
        </div>



    <form action="/userpage/temperature/" method="post">
        {% csrf_token %}

        <div id="temperature-box">
            <div class="center" style="padding-top: 30px; padding-bottom: 30px;">Choose target temperature</div>
            <img class="center" src="{% static 'userpage/icons/up-arrow.svg' %}" onclick="upClick();" >
            <div class="center" id="circle"> </div>
            <img class="center" src="{% static 'userpage/icons/down-arrow.svg' %}" onclick="downClick()">

            <div class="center" style="padding-top: 30px; padding-bottom: 30px;>

                <label for="hours"> Ready at: </label>

                <select class="dropdown" type="number" name="hours" id="hours">
                    {% for hour in 24|get_range  %}

                        {% if hour < 10 %}
                            <option id="hour-{{ hour }}" value="0{{ hour }}"> 0{{ hour }} </option>
                        {% else %}
                            <option id="hour-{{ hour }}" value="{{ hour }}"> {{ hour }} </option>
                        {% endif %}

                    {%  endfor %}
                </select>

                <select class="dropdown" type="number" name="minutes" id="minutes">
                    {% for minutes in 60|get_range %}
                        {% if minutes < 10 %}
                            <option id="minute-{{ minutes }}" value="0{{ minutes }}"> 0{{ minutes }} </option>
                        {% else %}
                            <option id="minute-{{ minutes }}" value="{{ minutes }}"> {{ minutes }} </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <input id="AC_enabled" type="hidden" name="AC_enabled" value="True">
            <input id="temp" type="hidden" name="temperature" value="">

            <div class="center">
                <input type="submit" value="Activate" onclick="setValues();">
            </div>
        </div>

    </form>


    <script>
        var temp = 20;
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes() + 15;

        if(minutes > 60){
            hours = (hours + 1) % 24;
            minutes = minutes % 60
        }

        document.getElementById("hour-" + hours).selected = true;
        document.getElementById("minute-" + minutes).selected = true;
        document.getElementById("circle").innerHTML = temp.toString();

        function upClick(){
            if(temp < 30){
                temp = temp + 1;
                document.getElementById("circle").innerHTML = temp.toString();
            }
        }

        function downClick(){
            if(temp > 10){
                temp = temp - 1;
                document.getElementById("circle").innerHTML = temp.toString();
            }
        }

        function setValues(){
            document.getElementById("temp").value = temp.toString();
        }

    </script>

{% endblock %}